@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --strong-cyan: hsl(172 67% 45%);
  --very-dark-cyan: hsl(183 100% 15%);
  --dark-grayish-cyan: hsl(186 14% 43%);
  --grayish-cyan: hsl(184 14% 56%);
  --light-grayish-cyan: hsl(185 41% 84%);
  --very-light-grayish-cyan: hsl(189 41% 97%);
  --white: #fff;
}

/* 
### Body Copy

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 700
 */

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: var(--light-grayish-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Space Mono', monospace;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border-radius: 20px;

  display: flex;
  height: 481px;
  width: 920px;
}

p {
  margin: 0;
}

.leftPart {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px;
  width: 50%;
  text-align: left;
  padding: 10px;
}

.leftPartZone {
  width: 100%;
}

.leftPart label {
  color: var(--dark-grayish-cyan);
}

.tip-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 14px;
  row-gap: 16px;
  justify-items: stretch;
  align-items: stretch;
}

.percent {
  color: var(--white);
  font-size: 24px;
  background-color: var(--very-dark-cyan);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.percent:hover {
  cursor: pointer;
}

.percent:active {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.inputIcon {
  position: absolute;
  /* padding: 15px; */
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

input {
  background-color: var(--very-light-grayish-cyan);
  -moz-appearance: textfield;
  padding: 10px;
  color: var(--very-dark-cyan);
  font-size: 24px;
  text-align: right;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  border: none;
  border-radius: 5px;
}

input:required:focus:invalid {
  outline: 1px red;
}

.input-field {
  width: 100%;
  position: relative;
}

input:required:focus:valid {
  /* border: 3px solid blue; */
  outline: 3px solid var(--strong-cyan);
  border-radius: 5px;
}

input:required:focus:invalid {
  /* border: 3px solid blue; */
  outline: 3px solid red;
  border-radius: 5px;
}

/*input:required:invalid {*/
/* border: 3px solid blue; */
/*  outline: 3px solid red;
  border-radius: 5px;
}
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tip-custom {
  width: calc(100% - 50px);
  border-radius: 5px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  /* margin: 10px;
  padding: 15px; */
}

.rightPart {
  width: 50%;
  background-color: var(--very-dark-cyan);
  margin: 20px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}

.rightLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 40px;
}

.smallText {
  font-size: 13px;
  color: var(--grayish-cyan);
}

.reset {
  width: calc(100% - 80px);
  position: absolute;
  bottom: 40px;
  translate: -50%;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.label {
  display: flex;
  justify-content: space-between;
}

.errorPerson {
  color: red;
}

.result {
  font-size: 48px;
  letter-spacing: -0.025rem;
  color: var(--strong-cyan);
}

.selected {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}
